/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Section */
header {
    background-color: #b36b33; /* Color matching logo */
    color: white;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    max-width: 150px;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Section Styles */
section {
    padding: 40px 0;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* About Section */
#about {
    background-color: #fff;
    color: #333;
    padding: 40px 0;
    text-align: center;
}

/* Services Section */
#services ul {
    list-style: none;
    padding: 0;
}

#services ul li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #b36b33;
}

/* Gallery Section */
#gallery {
    text-align: center;
}

#gallery img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
}

/* Contact Section */
#contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

#contact label {
    margin: 10px 0 5px;
}

#contact input,
#contact textarea {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact button {
    padding: 10px 20px;
    background-color: #b36b33;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#contact button:hover {
    background-color: #944e22;
}

/* Footer Section */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    #gallery img {
        width: 80%;
    }

    .container {
        width: 90%;
    }
}
